<ion-pane class="initial">
  <ion-content>
    <div class="logo-cuponza">
      <img src="img/logo_cuponza.png">
    </div>

     <a class="button icon-right ion-chevron-right button-login btn-sign-up" href="#/cuponza/signup">Sign up</a>
    <a class="button icon-left ion-social-facebook button-login btn-fb">Sign in with Facebook</a>
    <a class="button icon-left ion-social-twitter button-login btn-tw">Sign in with Twitter</a>
    <a class="button icon-right btn-explore">Explore</a>
  </ion-content>
</ion-pane>