#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.initial { 
  background: url(../img/bg_login.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo-hd {
	position: absolute;
	width: 330px;
	height: 90px;
	background: url(../img/hd-logo-cuponza.png) no-repeat 2px 10px fixed; 
	top:5px;
	z-index: 12;
	margin: 0 auto;
}

.bar.bar-header.cuponza-bg {
	background: #11e763; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #11e763 0%, #00913a 88%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#11e763), color-stop(88%,#00913a)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #11e763 0%,#00913a 88%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #11e763 0%,#00913a 88%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #11e763 0%,#00913a 88%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #11e763 0%,#00913a 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e763', endColorstr='#00913a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.logo-cuponza {
	max-width:90%;
    height:auto;
    position: relative;
    display:block;
    margin:80px auto;
}

.logo-cuponza img {
	 max-width:100% !important;
    height:auto;
    display:block;
}

.button.button-login {
	opacity: 0.75;
	color: #fff;
	width: 90%;
	margin: 20px auto;
	display: block;
}

.button.activated {
	border-color: transparent;
	background-color: #333;
}

.btn-sign-up {
	border-color: #04A543;
	background-color: rgb(4,165,67);
}

.btn-fb {
	border-color: #5872A7;
	background-color: rgb(88,114,167);
}

.btn-tw {
	border-color: #55ACEE;
	background-color: rgb(85,172,238);
}

.btn-explore {
	border-color: #FFFFFF;
	color: rgb(4,165,67);
	width:35%;
	display: block;
	margin: 0 auto;
	line-height: 37px;
	min-height: 40px;
}
.angular-google-map-container { 
	height: 700px;
	 }